[Unit]
Description=printi server
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
WorkingDirectory=/bin/printi/api
ExecStart=/usr/bin/deno run --allow-read --allow-net main.ts --port=80 &
TimeoutSec=30
Restart=on-failure
RestartSec=5
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
